#main {
}

.element{
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.textbox{
    display: flex;
    justify-content: space-between;
}

.contents{
    width: 600px;
    height: 30px; 
    text-align: center;
}

.priority{
    width: 150px;
    height: 30px; 
    text-align: center;
}

button{
    width: 100px;
    height: 30px;
    background-color: rgb(24, 1, 139);
    color: white;
}

#list{
    list-style-type:none;
    background-color: #fff;
    display:table-cell;  /* 定義 */
    cursor: pointer;
    color:#fd910d;
}

.a{
    margin: 10px;
    width: 162px;
    background-color: antiquewhite;
}

.memo{
    margin: 10px;
    width: 800px;
    height: 20px;
    background-color: antiquewhite;
    resize: none;
}